name: Weekly
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 1 * * 1'

jobs:
  CI:
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        backend: ["OPENMP", "SERIAL"]
        cmake_build_type: ['Release']
    runs-on: ubuntu-20.04
    container: ghcr.io/ecp-copa/ci-containers/ubuntu:latest
    steps:
      - name: Checkout kokkos
        uses: actions/checkout@v3
        with:
          repository: kokkos/kokkos
          ref: develop
          path: kokkos
      - name: Build kokkos
        working-directory: kokkos
        run: |
          cmake -B build \
            -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            -DCMAKE_INSTALL_PREFIX=$HOME/kokkos \
            -DKokkos_ENABLE_${{ matrix.backend }}=ON \
            -DKokkos_ENABLE_DEPRECATED_CODE_3=OFF
          cmake --build build --parallel 2
          cmake --install build
      - name: Checkout heffte
        uses: actions/checkout@v3
        with:
          repository: icl-utk-edu/heffte
          ref: master
          path: heffte
      - name: Build heffte
        working-directory: heffte
        run: |
          cmake -B build \
            -DBUILD_SHARED_LIBS=ON \
            -DCMAKE_INSTALL_PREFIX=$HOME/heffte \
            -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            -DHeffte_ENABLE_FFTW=ON
          cmake --build build --parallel 2
          cmake --install build
      - name: Checkout Cabana
        uses: actions/checkout@v3
        with:
          repository: ECP-CoPA/Cabana
          ref: master
          path: cabana
      - name: Build Cabana
        working-directory: cabana
        run: |
          cabana_cmake_opts+=( -DCMAKE_DISABLE_FIND_PACKAGE_SILO=ON -DCMAKE_DISABLE_FIND_PACKAGE_HDF5=ON -DCabana_DISABLE_CAJITA_DEPRECATION_WARNINGS=ON )
          cmake -B build \
            -DCMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            -DCMAKE_INSTALL_PREFIX=$HOME/Cabana \
            -DCMAKE_PREFIX_PATH="$HOME/kokkos;$HOME/heffte" \
            ${cabana_cmake_opts[@]}
          cmake --build build --parallel 2
          cmake --install build
      - name: Checkout CabanaPF
        uses: actions/checkout@v3
      - name: Build CabanaPF
        run: |
          cmake -B build \
            -D CMAKE_BUILD_TYPE=${{ matrix.cmake_build_type }} \
            -D CMAKE_CXX_FLAGS="-Wall -Wextra -pedantic -Werror" \
            -D CMAKE_INSTALL_PREFIX=$HOME/CabanaPF \
            -D CMAKE_PREFIX_PATH="$HOME/Cabana" \
            -D MPIEXEC_MAX_NUMPROCS=2 \
            -D MPIEXEC_PREFLAGS="--oversubscribe"
          cmake --build build --parallel 2
          cmake --install build
      - name: Test CabanaPF
        run: |
          CTEST_OUTPUT_ON_FAILURE=1 cmake --build build --target test
